@import 'vars';

body{
    background-color: var(--color-secondary);
}

.container__notFound{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-primary);
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: 0 15px 30px rgba(#000,.5);
    color:var(--color-secondary);
    min-width: 3rem;
    
    &-content{
        max-width: 60rem;
        text-align: center;
        
        h2{
            font-size: 8vw;
            line-height: 1em;
            margin: 0;
        }
        h4{
            position: relative;
            font-size: 1.5em;
            color: var(--color-primary);
            background-color: var(--color-secondary);
            display: inline-block;
            padding: 1rem;
            margin-bottom: 20px;
            border-radius: 2rem;
        }
        p{
            font-size: 1.2em;
            padding: 1.2rem 2.4rem;
        }    
    }
    
    
}